<head>
    <title>Approval</title>
</head>

<body>

Сделай форму для for whom
тут ее заполняют и отправляют, если она валидна, автоматом меняется статус на подтвержденный

отдельная страница - просмотр своих заказов

    <br>
    <a href={{ window.location.hostname }}"/basket"><input type="submit" value="Назад"></a>
    <br>
    <a href={{ window.location.hostname }}"/final"><input type="submit" value="Подтверждаю"></a>
    <br>
    <a href={{ window.location.hostname }}"/logout"><input type="submit" value="Разлогиниться"></a>
</body>